<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sport shop</title>

    <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="/static/vendor/popper.js/dist/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>
<main>
    <div class="container">
        <ul class="list-group" th:each="product: ${productList}">
            <a th:href="@{/products/} + ${product.id}">
            <li class="list-group-item list-group-item-success" th:text="${product.id} + ' ' + ${product.name}"></li>
            </a>
        </ul>
    </div>

    <a href="http://localhost:9090/products/add">Add a new product</a>

</main>
</body>
</html>