<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="/static/vendor/popper.js/dist/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<main>

    <h1 th:text="${product.id} + ' ' + ${product.name}"></h1>
    <h3 th:text="${product.description}"></h3>
    <img th:src="${product.pictureLink}" alt="Picture for the product"/>
    <h3>Manufacturer</h3>
    <h3 th:text="${product.manufacturer.name}"></h3>
    <h3>Category</h3>
    <h3 th:text="${product.category.name}"></h3>
    <h3>Price</h3>
    <h3 th:text="${product.price}"></h3>

</main>

</body>
</html>